asttokens==2.4.1
async-timeout==4.0.2
attrs==22.2.0
backoff==2.2.1
beautifulsoup4==4.12.0
blinker==1.6.2
cachetools==5.3.0
cattrs==1.5.0
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.1.0
chromadb==0.3.26
click==8.1.3
clickhouse-connect==0.6.4
cloudpickle==2.2.1
colorama==0.4.6
coloredlogs==15.0.1
comm==0.2.1
commitizen==3.10.0
contourpy==1.0.7
cryptography==40.0.1
cycler==0.11.0
dataclasses-json==0.5.8
debugpy==1.8.0
decli==0.6.1
decorator==5.1.1
distlib==0.3.8
dj-database-url==2.1.0
Django==5.0.1
django-environ==0.11.2
django-filter==23.5
djangorestframework==3.14.0
duckdb==0.8.1
exceptiongroup==1.1.1
executing==2.0.1
fastapi==0.97.0
ffprobe==0.5
filelock==3.13.1
flatbuffers==23.5.26
fonttools==4.39.3
frozendict==2.3.6
frozenlist==1.3.3
gast==0.5.3
gitdb==4.0.10
GitPython==3.1.31
glcontext==2.5.0
google-auth==2.17.2
google-auth-oauthlib==1.0.0
graphics.py==5.0.1.post1
grpcio==1.53.0
gym==0.26.2
gym-notices==0.0.8
h11==0.14.0
h5py==3.8.0
hnswlib==0.7.0
html5lib==1.1
httptools==0.5.0
humanfriendly==10.0
idna==3.4
importlib-metadata==6.7.0
ipykernel==6.29.0
ipympl==0.9.3
ipython==8.20.0
ipython-genutils==0.2.0
ipywidgets==8.1.1
jedi==0.19.1
Jinja2==3.1.2
jsonschema==4.17.3
jupyter_client==8.6.0
jupyter_core==5.7.1
jupyterlab-widgets==3.0.9
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.4.4
langchain==0.0.208
langchainplus-sdk==0.0.16
lxml==4.9.2
lz4==4.3.2
Markdown==3.4.3
markdown-it-py==3.0.0
MarkupSafe==2.1.2
marshmallow==3.19.0
marshmallow-enum==1.5.1
matplotlib==3.7.1
matplotlib-inline==0.1.6
mdurl==0.1.2
mlagents==0.30.0
mlagents-envs==0.30.0
moderngl==5.8.2
monotonic==1.6
mplfinance==0.12.9b7
mpmath==1.3.0
multidict==6.0.4
multitasking==0.0.11
mypy-extensions==1.0.0
nest-asyncio==1.6.0
numexpr==2.8.4
numpy==1.24.3
oauthlib==3.2.2
objloader==0.2.0
onnxruntime==1.15.1
openai==0.27.8
openapi-schema-pydantic==1.2.4
opencv-python==4.7.0.72
overrides==7.3.1
packaging==22.0
pandas==2.0.0
pandas-ta==0.3.14b0
parso==0.8.3
PettingZoo==1.15.0
pexpect==4.9.0
Pillow==9.3.0
platformdirs==4.1.0
posthog==3.0.1
prompt-toolkit==3.0.43
protobuf==3.20.3
psutil==5.9.8
ptyprocess==0.7.0
pulsar-client==3.2.0
pure-eval==0.2.2
pyarrow==12.0.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pydantic==1.10.9
pydeck==0.8.1b0
pygame==2.4.0
Pygments==2.15.1
Pympler==1.0.1
-e git+https://github.com/mcfletch/pyopengl@29b79e8966ba2930a5c44829b02dffc1ca600752#egg=PyOpenGL
-e git+https://github.com/mcfletch/pyopengl@29b79e8966ba2930a5c44829b02dffc1ca600752#egg=PyOpenGL_accelerate&subdirectory=accelerate
pyparsing==3.0.9
pyrsistent==0.19.3
pytesseract==0.3.10
python-dateutil==2.8.2
python-docx==1.1.0
python-dotenv==1.0.0
pyti==0.2.2
pytube==12.1.3
pytz==2023.3
pytz-deprecation-shim==0.1.0.post0
PyWavefront==1.3.3
PyYAML==6.0
pyzbar==0.1.9
pyzmq==25.1.2
questionary==2.0.1
regex==2023.6.3
requests==2.28.2
requests-oauthlib==1.3.1
rich==13.4.2
rsa==4.9
scipy==1.12.0
six==1.16.0
smmap==5.0.0
sniffio==1.3.0
soupsieve==2.4
SQLAlchemy==2.0.16
sqlparse==0.4.4
stack-data==0.6.3
starlette==0.27.0
streamlit==1.23.1
sympy==1.12
ta==0.10.2
tenacity==8.2.2
tensorboard==1.12.2
tensorboard-data-server==0.7.0
tensorboard-plugin-wit==1.8.1
tensorflow @ https://storage.googleapis.com/tensorflow/mac/cpu/tensorflow-1.12.0-py3-none-any.whl#sha256=f587dc03b5f0d1e50cca39b7159c9f21ffdec96273dbf5f7619d48c622cb21f2
termcolor==2.2.0
tiktoken==0.4.0
tk==0.1.0
tokenizers==0.13.3
toml==0.10.2
tomlkit==0.12.1
toolz==0.12.0
torch==1.11.0
tornado==6.3.2
tqdm==4.65.0
traitlets==5.14.1
typing==3.7.4.3
typing-inspect==0.9.0
typing_extensions==4.5.0
tzdata==2023.3
tzlocal==4.3.1
urllib3==1.26.15
uvicorn==0.22.0
uvloop==0.17.0
validators==0.20.0
virtualenv==20.25.0
watchdog==3.0.0
watchfiles==0.19.0
wcwidth==0.2.7
webencodings==0.5.1
websockets==11.0.3
Werkzeug==2.2.3
whitenoise==6.6.0
widgetsnbextension==4.0.9
wikipedia==1.4.0
yarl==1.9.2
yfinance==0.2.14
zipp==3.15.0
zstandard==0.21.0
